

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add book to store</title>
</head>
<body>  
        <div class="container">
            <h1>Please provide book detail information</h1>
            <form class="add-form" action="" onclick="formHandler">
                <input type="url" name="isbn" placeholder="insert image url">
                <input type="text" name="isbn" placeholder="insert isbn">
                <input type="text" name="title" placeholder="insert title">
                <input type="text" name="subtitle" placeholder="insert subtitle">
                <input type="text" name="author" placeholder="insert author">
                <input type="date" name="published" placeholder="insert published date">
                <input type="text" name="publisher" placeholder="insert publisher">
                <input type="text" name="pages" placeholder="insert pages number">
                <input type="url" name="website" placeholder="insert website">
                <textarea id="book-description" name="description" placeholder="insert description"></textarea>
                <button class="">ADD</button>
            </form>
        </div>

    <script src="script.js"></script>
</body>
</html>