
.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body{
    background-color: rgb(44, 43, 43);
    color: white;
}
.books{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.book{
    width:  30%;
    border: solid 1px rgb(150, 136, 136);
    margin-top: 2em;
    padding-top: 1em;
    position: relative;
    font-size: 15px;
}
.book p{
    font-size: 1.5vw;
}

.book img{
    width: 90%;
    height: 90%;
}

.book .delete-btn{
    position: absolute;
    background-color: red;
    padding: .5rem 1rem;
    border: none;
    color: white;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

.book:hover .delete-btn{
    display: block;
}


/* form styles  */

form{
    margin: 0 auto;
    width: 60%;
}

input, textarea, form button{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgb(150, 136, 136);
    
}

#book-description{
    height: 50px;
}
.add-form button{
  margin-top: 50px;
  width: 85% !important;
  color: white;
  height: 45px;
  background: green;
}


button:hover{
    color: white;
    border: 1px solid white;
}
input:hover, textarea:hover{
    font-size: 1.5rem;
    background-color: white;
}